.title-box{
    background-color: rgba(0,0,0, 0.95);
    color: white;
    width: 285px;
    height: 185px;
    border: 4px;
    offset: 15px;
    text-align: center;
}

.title-bg{
    background-image: url(../assets/coffee-circle.jpg);
    background-size: 75% 100%;
    background-repeat: no-repeat;
    height: 75%;
    background-position: center;
    background-size: cover;
}

