h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
}

h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
    font-weight: 100;
}

.footer-heading{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
    font-weight: 100;
}

.nav-heading{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.nav-link{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
    list-style-type: none;
    text-decoration: none;
}

.button{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
}

.discount-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
}

.small-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
}

.text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#button{
    width: 180px;
    height: 55px;
    color: white;
    background-color: #5bacc3;
    border-width: 2px;
    offset: 5px;
}

.product-card-one {
    background-color: #fff0ed;
}

.product-card-two {
    background-color: #f7f7f7;
}