h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
}

h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
}

.footer-heading{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
}

.nav-heading{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
}

.nav-link{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
    list-style-type: none;
    text-decoration: none;
}

.button{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
}

.discount-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
}

.small-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
}

.text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}